*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #323232;
    color: #D4D4D4;
}

.image-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex{
    display: flex;
}

.center{
    align-items: center;
    justify-content: center;
}

.column{
    flex-direction: column;
}

h1{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

span{
    width: 500px;
    font-size: 18px;
    text-align: justify;
}

a{
    color: #FF9500;
    font-weight: bold;
    text-decoration: none;
}

.QR{
    width: 300px;
    height: 300px;
}

.QR-BLOCK{
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.address{
    width: fit-content;
    font-size: 15px;
}

